[submodule "content/aquario-guias"]
	path = content/aquario-guias
	url = https://github.com/aquario-ufpb/aquario-guias.git
[submodule "content/aquario-entidades"]
	path = content/aquario-entidades
	url = https://github.com/aquario-ufpb/aquario-entidades.git
[submodule "content/aquario-mapas"]
	path = content/aquario-mapas
	url = https://github.com/aquario-ufpb/aquario-mapas.git
[submodule "content/aquario-vagas"]
	path = content/aquario-vagas
	url = https://github.com/aquario-ufpb/aquario-vagas
